{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="d-flex justify-content-end navbar-brand" href="#">The Fleeter</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Nos véhicule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Location</a>
        </li>

        <li class="nav-item">
          <a class="nav-link">Connection</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<footer class=" text-center ">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row justify-content-between">
      <!--Grid column-->
      <div class="col-6 col-md-4 mb-4 mb-md-0">
        <h5>TheFleeter @ 2023</h5>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-6 col-md-4 mb-4 mb-md-0">
        <h5>Mentions légales</h5>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-6 col-md-4 mb-4 mb-md-0">
        <h5>Contact</h5>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->


</footer>
{% endblock %}