@import "_theme";

/* .nav .nav-link {
    color: var(--bs-primary);
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    border-radius: var(--border-radius-card);
}
.nav .nav-link:focus , .nav-link:focus {
    color: var(--bs-secondary);
    box-shadow: inset  0 -200px 0 0 var(--bs-primary);
} */