@import "_theme";


/* #vehicules {
height: auto;
} */

table {
  width: 100%;
  border-collapse: collapse;
  
}

th, td {
  border: 1px solid #b8c7ce;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #333333;
  color: #ffffff;
  
}

tr {
    text-align: center;
}


