<footer class="bg-light text-center text-lg-start">
	<!-- Copyright -->
	<div class="text-center p-3 d-flex justify-content-between text-center gap-5" style="background-color: rgba(0, 0, 0, 0.2);">
	  © 2023 Copyright: TheFleeter
	  <a class="text-dark me-5 pe-5 text-decoration-none" href="">Mentions légales</a>
	  <a class="text-dark text-decoration-none" href="">Contactez-nous</a>
	</div>
	<!-- Copyright -->
  </footer>