<section class="h-100 d-flex flex-column justify-content-between pt-5">
	<h1 class="d-flex justify-content-center">Location de Véhicules électriques
		<br>Gestion de Flotte automobiles
	</h1>
    <section class="d-flex justify-content-around mb-3">
		<div>
			<h4>Véhicules Premium</h4>
			<p>
				Le service VIP où que vous alliez avec nos voitures.</p>
		</div>
		<div>
			<h4>Nouvelles Voitures</h4>
			<p>
				Nos voitures sont les voitures les plus récente sur le marché.</p>
		</div>
		<div>
			<h4>Plateforme Digitale</h4>
			<p>
				Évitez les longues files d'attente au guichet.</p>
		</div>
	</section>
</section>
