<nav class="sideBar">
	<div class="container-fluid">
		<div class="row flex-nowrap">
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary">
				<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
					<a href="/" class="d-flex align-items-center m-auto mb-5 mt-4  text-white text-decoration-none fw-bold shadow-lg">
						<span class="fs-5 d-none d-sm-inline">The Fleeter</span>
					</a>
					<ul class="nav nav-pills flex-column mb-sm-auto mb-1 align-items-center align-items-sm-start m-3 gap-4" id="menu">
						<li>
							<a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white fw-bold">
								<i class="fs-4 bi-speedometer2"></i>
								<span class="ms-1 d-none d-sm-inline">Vehicules</span>
							</a>
							<ul class="collapse show nav flex-column ms-1 text-white fw-bold " id="submenu1" data-bs-parent="#menu">
								<li class="w-100">
									<a href="#" class="nav-link px-0 text-white opacity-50 fw-bold">
										<span class="d-none d-sm-inline">Conducteurs</span>

									</a>
								</li>
								<li>
									<a href="#" class="nav-link px-0 text-white opacity-50 fw-bold">
										<span class="d-none d-sm-inline">Amendes</span>

									</a>
								</li>
								<li>
									<a href="#" class="nav-link px-0 text-white opacity-50 fw-bold">
										<span class="d-none d-sm-inline">Maintenance</span>

									</a>
								</li>
								<li>
									<a href="#" class="nav-link px-0 text-white opacity-50 fw-bold">
										<span class="d-none d-sm-inline">Carburant</span>

									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="nav-link px-0 align-middle text-white fw-bold">
								<i class="fs-4 bi-table"></i>
								<span class="ms-1 d-none d-sm-inline">Rapports</span>
							</a>
						</li>
						<li>
							<a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white fw-bold">
								<i class="fs-4 bi-bootstrap"></i>
								<span class="ms-1 d-none d-sm-inline">Comptabilité</span>
							</a>
						</li>
						<li>
							<a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white fw-bold">
								<i class="fs-4 bi-grid"></i>
								<span class="ms-1 d-none d-sm-inline">Location</span>
							</a>
						</li>
						<li>
							<a href="#" class="nav-link px-0 align-middle text-white fw-bold">
								<i class="fs-4 bi-people"></i>
								<span class="ms-1 d-none d-sm-inline">Accidents</span>
							</a>
						</li>
					</ul>
					<hr>
					<div class="dropdown pb-4">
						<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle text-white fw-bold" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
							<span class="d-none d-sm-inline mx-1">loser</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-dark text-small shadow ">
							<li>
								<a class="dropdown-item" href="#">Profile</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
